<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Page</title>
    <!-- Link to CSS file directly -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>  
    <h1>HIIIIII skibii</h1>
    <!-- Link to image files directly -->
    <img class="img-pic" src="{{ url_for('static', filename='img/pic.jpg') }}" alt="Image 1">
    <img class="img-lk" src="{{ url_for('static', filename='img/lk.jpg') }}" alt="Image 2">
    <p>Hi, if you see this you're awesome</p> 
</body>
</html>
